<!DOCTYPE html>
<html>
<head>
  <title> Rock Paper Scissors</title>
</head>
<body>
<nav>
  <ul>
    <li> <a href="/rps"> Welcome Page</a></li>
    <li> <a href="/rps/rock/scissors"> Rock vs Scissors</a></li>
    <li> <a href="/rps/rock/paper"> Rock vs Paper</a></li>
    <li> <a href="/rps/scissors/paper"> Scissors vs Paper</a></li>
  </ul>
</nav>
<%= yield %>
</body>
</html>